@charset "UTF-8";

/* CSS Document */

/* 
	Dominique Houston
	Term: 1306
	VFW Project 2
*/


/* CSS Resets  & Global Style Fixes */

body, a, p, header, footer {
	margin: 0px;
	padding: 0px;
}

.clear { clear: both; }

.floatLeft { float: left; }

.floatRight { float: right; }

form li { list-style-type: none; }

/* iPhone form field zoom fix */

input[type='text'], input[type='number'], textarea, select, input[type='date'] { font-size: 16px; }

/* Global Elements */

body {
	margin: 10px 0px;
	padding: 0px;
	font-family: Verdana, Tahoma, Arial, sans-serif;
	font-size: 15px;
	height: 100%;
	background: #000;
	color: #f1f1f1;
}

#container {
	margin: 0px auto;
	max-width: 768px;
	min-width: 300px;
	width: auto;
	padding-left: 2.333%;
	padding-right: 2.333%;
}

#wrap {
	border: 1px solid #002020;
	background: rgb(238,238,238); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(238,238,238,1)), color-stop(100%, rgba(204,204,204,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, rgba(238,238,238,1) 0%, rgba(204,204,204,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc', GradientType=0 ); /* IE6-9 */
	margin: 0px 2%;
}
/* Link Stlying */
a:link {
	color: teal;
	text-decoration: none;
}

a:visited { color: teal; }

a:hover, a:focus {
	color: #999;
	cursor: hand;
}

a:active { color: #FFF; }

/* Header Styles */

h1 {
	color: teal;
	background: rgba(0,0,0,0.75);
	padding: 10px;
	text-align: center;
	margin: 0px;
	text-transform: uppercase;
	text-shadow: 1px 1px 0px #222;
}

h2 {
	color: #002020;
	text-shadow: 1px 1px 1px #EEE;
}

header {
	background: teal;
	margin: 0px;
}

header p {
	margin: 0px;
	padding: 10px;
	color: #f1f1f1;
	text-shadow: none;
	border-bottom: 1px solid rgba(0,0,0,0.25);
	font-style: italic;
}

/* Navigation */
nav {
	margin: 0px;
	padding: 10px 0px;
	margin: 0px 20px;
}

nav ul {
	margin: 0px auto;
	list-style-type: square;
	color: teal;
	border-bottom: 1px solid #002020;
	padding: 5px 20px;
}

nav ul:hover {
	list-style-type: square;
	color: #000;
}

nav ul li {
	display: inline-block;
	margin: 0px 5%;
}

#addNew { margin-left: -33px; }

/* Form Styles */
#errors {color:red;}

form {
	color: #111;
	text-shadow: none;
	margin: 0px;
	max-width: 780px;
	overflow: hidden;
}

form legend { clear: both; }

form .headLabel {
	clear: both;
	width: auto;
	font-size: 18px;
	font-weight: bold;
	margin: 0px auto;
	margin-bottom: 20px;
}

form fieldset { border: 0px #002020 solid; }

form#bookeepForm p {
	margin: 10px 0px 0px 0px;
	overflow: hidden;
}

form#bookeepForm label {
	background: teal;
	color: #FFF;
	padding: 10px 10px;
	clear: both;
	height: auto;
	float: left;
	margin-bottom: 10px;
}

form#bookeepForm input {
	padding: 10px 10px;
	height: auto;
	clear: both;
	width: auto;
	margin: 0px 10px 5px 0px;
	border: 1px solid teal;
	line-height: 14px;
	float: left;
}

form#bookeepForm textarea {
	padding: 10px 10px;
	height: auto;
	clear: both;
	width: auto;
	max-width: 60%;
	margin: 0px 10px 5px 0px;
	border: 1px solid teal;
	line-height: 14px;
	float: left;
}


/* Range Rating */
#stars {
	width: 75%!important;
	margin: 0px auto;
	text-align: center;
}

.rate_0 { width: 5%; }

.rate_10 { width: 5%; }

/* Toggle CSS */

#items {margin: 0px auto;
max-width: 768px;
min-width: 300px;
width: auto;
padding-left: 2.333%;
padding-right: 2.333%;}
#items ul {list-style-type: none;}

/* Footer */
footer {
	clear: both;
	font-size: 12px;
	background: #000;
	color: #FFF;
	padding: 5px 10px;
	margin: 0px;
	text-shadow: none;
}
